*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  header {
  top:0;
     background-color: transparent;
    color: #fff;
    padding: 10px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-image: url('../assets/imgs/food-with-ingredients.jpg');
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

center {
    text-align: center;
    margin-top: 100px; /* Adjust to leave space below the fixed header */
}


.card {
    width: 80%;
    margin: 20px auto;
    background-color: #aaf9fd;
    box-shadow: 0 4px 8px rgba(0, 0.2, 0.1, 0.9);
    border-radius: 8px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    margin-right: 20px;
   
}

.card-header {
    background-color: #000000;
    color: #fff;
    padding: 12px;
    text-align: center;
}

.card-content {
    padding: 16px;
}

.card-content p {
	display: flex;
	font-size: 20px;
    margin: 8px 0;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}